<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<appSettings>


    <add key="Shopify_API_Key" value=""/>
    <add key="Shopify_API_Secret" value=""/>
    <add key="Shopify_Shop_Password" value=""/>
  
  <!-- exmple ("@exmple.myshopify.com") -->
    <add key="Shopify_Store_Name" value=""/>


  <!-- the amount to added to product price (e.g. 5%) -->
    <add key="MarkUp" value="5"/>

  
  <!-- Each of the CSV Header are connect to the output header  (e.g. ID -> Handle).  -->

  <add key="OutPut_Header_Name" value="Handle,Title,BodyHTML,Type,Image_1,Image_2,Image_3,Barcode,Price,DeliveryCost,Vendor,InStock,Size,Color"/>
  <add key="Input_CSV_Header" value="ID,Title,Description,Type,Image_1,Image_2,Image_3,EAN,Price,Delivery_Cost,Vendor,InStock,Size,Color"/>

  <add key="Variant_Column" value="Size,Color"/>
  <add key="Variant_Separator" value="#"/>

  <add key="Input_CSV_Separator" value=","/>
  <add key="Source_CSV_Location" value="" />
  
  
</appSettings>

</configuration>